<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/bootstrap.css" />
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Project Seer</a>
					<div class="nav-collapse collapse" id="main-menu-left">
						<ul class="nav" id="main-menu-left">
							<li><a href="/">Home</a></li>
							<li><a href="/dashboard">My checkers</a></li>
							<li><a href="/dashboard/profile">My profile</a></li>
							<li><a href="/dashboard/logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
