{% include 'includes/header.html.twig' %}

<h1>Your checkers</h1>

<ul>
	{% for checker in checkers %}
	<li><a href="/dashboard/view/{{ checker.id }}">{{ checker.name }}</a></li>
	{% endfor %}
</ul>

<a class="btn" href="/dashboard/create">Create a new checker</a>

{% include 'includes/footer.html.twig' %}

