{% include 'includes/header.html.twig' %}

<h1>My profile</h1>

<form method="post" action="/dashboard/profile/save">
	<p>My username: {{ user.username }}</p>
	</p>
	<p>My email addresss: <input type="email" name="email" value="{{ user.email }}" /></p>
	</p>
	<p>New password:
	<input type="password" name="password" />
	</p>
	<p>
	<button type="submit" class="btn btn-success">Save</button>
	<a class="btn" href="/dashboard">Cancel</a>
	</p>
</form>

{% include 'includes/footer.html.twig' %}

