{% include 'includes/header.html.twig' %}


<h1>Service status</h1>

<ul>
	<li>Website: {% if frontend %} Up and running! {% else %} feeling poorly :( {% endif %}</li> 
	<li>Checker: {% if checker %} Up and running! {% else %} feeling poorly :( {% endif %}</li>
</ul>

<p>Why not go and <a href="/dashboard">see what checkers you've got</a>?</p>


{% include 'includes/footer.html.twig' %}

